@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
} 

.blur-white {
  box-shadow: 0 0 15px 5px wheat;
}